<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="appMessages" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false"/>
    <section name="envConfigSection" type="System.Configuration.NameValueFileSectionHandler" restartOnExternalChanges="false" />
  </configSections>
  <appSettings file="conf\AppSettings.config">
  </appSettings>

  <appMessages configSource="conf\Tohogas.Messages.config"/>
  <envConfigSection configSource="conf\Env.config" />
  
  <system.web>
    <globalization fileEncoding="Shift-JIS" requestEncoding="Shift-JIS" responseEncoding="Shift-JIS" responseHeaderEncoding="Shift-JIS"/>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Transactions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
      </assemblies>
    </compilation>
    <customErrors defaultRedirect="/html2/500ErrorPage.html" mode="On"/>
    <authorization>
      <allow users="*"/>
    </authorization>
    <httpRuntime requestValidationMode="2.0" />
    <pages validateRequest="false" />
    <sessionState cookieless="false" />
  </system.web>
  <connectionStrings configSource="conf\ConnectionStrings.config"/>
  <system.webServer>
    <defaultDocument>
      <files>
        <add value="Login.aspx"/>
      </files>
    </defaultDocument>
    <directoryBrowse enabled="false"/>
    <httpProtocol>
      <customHeaders>
        <add name="X-Frame-Options" value="DENY"/>
      </customHeaders>
    </httpProtocol>

  </system.webServer>
  
</configuration>