<?xml version="1.0" encoding="utf-8" ?>
<appSettings>

  <add key="PayMethod" value="credit"/>
  <add key="MarchantId" value="30132"/>
  <add key="ServiceId" value="001"/>
  <add key="LinkSuccessUrl" value="https://tgwebtest.azurewebsites.net/t420013/T420013CompleteEntrySP.aspx"/>
  <add key="LinkCancelUrl" value="https://tgwebtest.azurewebsites.net/t900900/T900901CreditCancelSP.aspx"/>
  <add key="LinkErrorUrl" value="https://tgwebtest.azurewebsites.net/t900900/T900902CreditNGSP.aspx"/>
  <add key="LinkCgiUrl" value="http://tgwebtest.azurewebsites.net/t900900/T900903CreditResponse.aspx"/>
  <add key="LinkHashKey" value="c48e0e2c7d04f0954594f14c7801bd430ca6263e"/>
  <add key="CustAddUrl" value="https://stbfep.sps-system.com/f04/FepPayInfoReceive.do"/>

  <!-- フレームワークで必要かもしれない設定群 -->
  <add key="SmarPEnvBaseUrl" value="https://www.smarp.jp/Pasp019Web/api/" />
  <add key="SmarP01ApiName" value="/point/BalancePointApi/exec.do" />
  <add key="SmarP02ApiName" value="/point/AddPointApi/exec.do" />
  <add key="SmarP05ApiName" value="/point/TransactionPointApi/exec.do" />
  <add key="SmarP06ApiName" value="/exchange/GoodsExchangeApi/exec.do" />
  <add key="SmarP07ApiName" value="/member/MagneticCardMemberRegistApi/exec.do" />
  <add key="SmarP08ApiName" value="/member/MemberDetailApi/exec.do" />
  <add key="SmarP09ApiName" value="/member/MemberUpdateApi/exec.do" />
  <add key="SmarP10ApiName" value="/member/MemberLeaveApi/exec.do" />
  <add key="CommodityNumPerPage" value="20" />
  <add key="PagingMaxNumber" value="5" />
  <add key="PasswordResetExpiration" value="24" />
  <add key="AuthenticationResetExpiration" value="15" />
  <add key="ThanksPointID" value="10000002" />
  <add key="MailMagazineDeliveryID" value="10" />
  <add key="ValidServiceType" value="01,02,07" />
  <add key="ValidAddDivision" value="1" />
  <add key="ValidContractDetailStatus" value="1,2" />
  <add key="ValidContractStatus" value="1" />
  <add key="ValidPaymentDivision" value="1,2,3,4" />
  <add key="LockTimeLogin" value="30" />
  <add key="LockTimeBank" value="1440" />
  <add key="LockTimeAuth" value="1440" />
  <add key="LockTimeQuit" value="30" />
  <add key="LockTimeChangePassword" value="30" />
  <add key="LockCountLogin" value="5" />
  <add key="LockCountBank" value="5" />
  <add key="LockCountAuth" value="5" />
  <add key="LockCountQuit" value="5" />
  <add key="LockCountChangePassword" value="5" />
  <add key="ClearTimeLogin" value="120" />
  <add key="ClearTimeBank" value="120" />
  <add key="ClearTimeAuth" value="120" />
  <add key="ClearTimeQuit" value="120" />
  <add key="ClearTimeChangePassword" value="120" />
  <add key="MemberRegisterExpiration" value="24" />
  <add key="TGZZZEventLogSource" value="Tohogas_WebPortal" />
  <add key="TGZZZLogFileName" value="Tohogas_WebPortal_Log" />
  <add key="TGZZZPassMaxDigit" value="16" />
  <add key="TGZZZPassMinDigit" value="8" />
  <add key="TGZZZCharacter" value="abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ" />
  <add key="TGZZZNumber" value="1234567890" />
  <add key="TGZZZSymbol" value="!&quot;#$%&amp;&apos;()*+,.-/;:&lt;=&gt;?@[\]^_`{|}~" />
  <add key="TGZZZMailAddressFomat" value="^[a-zA-Z0-9!-~]+@[a-zA-Z0-9][a-zA-Z0-9.-]*\.[a-zA-z0-9][a-zA-Z0-9]+$" />
  <add key="TGZZZKANA" value="アイウエオカキクケコサシスセソタチツテトナニヌネノハヒフヘホマミムメモヤユヨワヲンラリルレロッァィゥェォヮガギグゲゴザジズゼゾダヂヅデドバビブベボ" />
  <add key="PointHistoryStart" value="37" />
  <add key="CommodityNumHisPage" value="20" />
  <add key="httpCookies requireSSL" value="true" />
  <add key="EnvCdSmarPMode" value="100" />
  <add key="EnvCdPointDeadLine" value="200" />
  <add key="EnvCdSmarPBasicId" value="110" />
  <add key="EnvCdSmarPBasicPass" value="111" />
  <add key="EnvCdPCPassword" value="210" />
  <add key="EnvCdGoodsAdminMail" value="220" />
  <add key="TopNewsDisplayNumber" value="50" />
  <add key="MemberRank1" value="RNK00001" />
  <add key="MemberRank2" value="RNK00002" />
  <add key="MemberRank3" value="RNK00003" />
  <add key="SmarPCertificateValidation" value="FALSE" />
  <add key="SmarPPointContentURL" value="http://st.pointconcent.jp/api/sign_in" />
  <add key="SmarPPointContentPort" value="80" />
  <add key="SmarPPointBusinessCode1" value="120" />
  <add key="SmarPPointBusinessCode2" value="121" />
  <add key="SmarPPointBusinessCode3" value="122" />
  <add key="SmarPEnvBaseUrl2" value="https://210.144.109.119/Pasp019Web/api" />
  <add key="CheckStringHalfNum" value="^[0-9]*$" />
  <add key="CheckStringHalfAlphNum" value="^[a-zA-Z0-9]*$" />
  <add key="CheckStringHalfSymbol" value="^[!-~]*$" />
  <add key="CheckStringFullKana" value="^[ァ-ヴー]*$" />
  <add key="SmarPOtherPointExchangePointType" value="4102,4105,4107,4110" />
  <add key="TGZZZEventLogID" value ="200" />
  <add key="TohogasOfficialSiteURL" value ="http://www.tohogas.co.jp/" />
  <add key="SitecoreServerFlg" value ="1" />
  <add key="TohogasMemberSiteURL" value ="" />
  <add key="TohogasMemberSiteURLSecure" value ="" />
  <add key="RunMode" value ="150" />
  <add key="RunModeHonban" value ="151" />
  <add key="RunModeTest" value ="152" />

</appSettings>