<?xml version="1.0" encoding="utf-8" ?>
<appMessages>

  <!-- パーソナライズ -->
  <add key="MDPPS0001E" value="ログインIDが未入力です。入力してください。" />
  <add key="MDPPS0002E" value="ログインIDは半角英数字記号で入力してください。" />
  <add key="MDPPS0003E" value="パスワードが未入力です。入力してください。" />
  <add key="MDPPS0004E" value="ログインID・パスワードが違います。確認してください。" />
  <add key="MDPPS0005E" value="ログインIDはロックされています。時間をおいて再度ログインしてください。" />
  <add key="MDPPS0006E" value="セッションが切断されました。ログインし直してください。" />

  <!-- 会員管理 -->
  <add key="MDPME0001E" value="パスワード再設定用のURLが無効です。もう一度、ログイン画面より手続きを行ってください。" />
  <add key="MDPME0002E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPME0003E" value="新しいパスワードが未入力です。入力してください。" />
  <add key="MDPME0004E" value="新しいパスワードは8文字以上16文字以内で入力してください。" />
  <add key="MDPME0005E" value="新しいパスワードは半角(英字、数字、記号)のうち、2種類以上の文字を組み合わせた内容で入力してください。" />
  <add key="MDPME0006E" value="新しいパスワードは現在のパスワード以外の内容で設定してください。" />
  <add key="MDPME0007E" value="新しいパスワード（確認用）が未入力です。入力してください。" />
  <add key="MDPME0008E" value="新しいパスワード（確認用）は8文字以上16文字以内で入力してください。" />
  <add key="MDPME0009E" value="新しいパスワード（確認用）は半角(英字、数字、記号)のうち、2種類以上の文字を組み合わせた内容で入力してください。" />
  <add key="MDPME0010E" value="入力されたパスワードが一致していません。確認してください。" />
  <add key="MDPME0011E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPME0012E" value="メールアドレスが未入力です。入力してください。" />
  <add key="MDPME0013E" value="メールアドレスは半角英数字記号256文字以内で入力してください。" />
  <add key="MDPME0014E" value="メールアドレスの形式が正しくありません。入力内容を確認してください。" />
  <add key="MDPME0015E" value="入力されたメールアドレスは登録されていません。入力内容を確認してください。" />
  <add key="MDPME0016E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPME0017E" value="ログインIDが未入力です。入力してください。" />
  <add key="MDPME0018E" value="ログインIDは8文字以上32文字以内で入力してください。" />
  <add key="MDPME0019E" value="メールアドレスが未入力です。入力してください。" />
  <add key="MDPME0020E" value="メールアドレスは半角英数字記号256文字以内でで入力してください。" />
  <add key="MDPME0021E" value="メールアドレスの形式が正しくありません。入力内容を確認してください。" />
  <add key="MDPME0022E" value="入力されたログインID・メールアドレスは登録されていません。入力内容を確認してください。" />
  <add key="MDPME0023E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPME0024E" value="お客さま番号が未入力です。入力してください。" />
  <add key="MDPME0025E" value="お客さま番号は半角数字10文字で入力してください。" />
  <add key="MDPME0026E" value="お客さま番号が見つかりません。入力内容を確認してください。" />
  <add key="MDPME0027E" value="入力されたお客さま番号に登録可能な契約情報が見つかりません。" />
  <add key="MDPME0028E" value="入力されたお客さま番号はすでに登録されています。" />
  <add key="MDPME0029E" value="お支払方法が未選択です。選択してください。" />
  <add key="MDPME0030E" value="口座番号下4桁が未入力です。入力してください。" />
  <add key="MDPME0031E" value="口座番号下4桁は半角数字4文字以内で入力してください。" />
  <add key="MDPME0032E" value="お客さま番号とお支払方法が一致しません。入力内容を確認してください。" />
  <add key="MDPME0033E" value="お客さま番号・口座番号下4桁のどちらかが不正です。" />
  <add key="MDPME0034E" value="認証番号はすでに発行済みです。認証番号のご案内を郵送させていただきましたので、到着をお待ちください。" />
  <add key="MDPME0035E" value="郵送先が未選択です。選択してください。" />
  <add key="MDPME0036E" value="エラーが発生しました。" />
  <add key="MDPME0037E" value="郵便番号が未入力です。入力してください。" />
  <add key="MDPME0038E" value="郵便番号は半角数字7桁で入力してください。" />
  <add key="MDPME0039E" value="郵便番号に対する住所が見つかりません。入力内容を確認してください。" />
  <add key="MDPME0040E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPME0041E" value="お名前(姓)が未入力です。入力してください。" />
  <add key="MDPME0042E" value="お名前(姓)は全角30文字以内で入力してください。" />
  <add key="MDPME0043E" value="お名前(名)は全角30文字以内で入力してください。" />
  <add key="MDPME0044E" value="お名前(姓(カナ))が未入力です。入力してください。" />
  <add key="MDPME0045E" value="お名前(姓(カナ))は全角カナ40文字以内で入力してください。" />
  <add key="MDPME0046E" value="お名前(名(カナ))は全角カナ40文字以内で入力してください。" />
  <add key="MDPME0047E" value="メールアドレスが未入力です。入力してください。" />
  <add key="MDPME0048E" value="メールアドレスは半角英数字記号256文字以内で入力してください。" />
  <add key="MDPME0049E" value="メールアドレスの形式が正しくありません。入力内容を確認してください。" />
  <add key="MDPME0050E" value="メールアドレスは既に会員登録済みです。" />
  <add key="MDPME0051E" value="メールアドレス(サブ)は半角英数字記号256文字以内で入力してください。" />
  <add key="MDPME0052E" value="メールアドレス(サブ)の形式が正しくありません。入力内容を確認してください。" />
  <add key="MDPME0053E" value="メールアドレス(サブ)は既に会員登録済みです。" />
  <add key="MDPME0054E" value="メールアドレスとメールアドレス(サブ)に同じメールアドレスは登録できません。" />
  <add key="MDPME0055E" value="電話番号１が未入力です。入力してください。" />
  <add key="MDPME0056E" value="電話番号１は半角数字10桁以上11桁以内で入力してください。" />
  <add key="MDPME0057E" value="電話番号２は半角数字10桁以上11桁で以内入力してください。" />
  <add key="MDPME0058E" value="郵便番号が未入力です。入力してください。" />
  <add key="MDPME0059E" value="都道府県が未選択です。選択してください。" />
  <add key="MDPME0060E" value="市区町村が未入力です。入力してください。" />
  <add key="MDPME0061E" value="市区町村は全角120文字以内で入力してください。" />
  <add key="MDPME0062E" value="町域名等・番地が未入力です。入力してください。" />
  <add key="MDPME0063E" value="町域名等・番地は全角120文字以内で入力してください。" />
  <add key="MDPME0064E" value="建物名・部屋番号は全角30文字以内で入力してください。" />
  <add key="MDPME0065E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPME0066E" value="メールアドレスが未入力です。入力してください。" />
  <add key="MDPME0067E" value="メールアドレスは半角英数字記号256文字以内で入力してください。" />
  <add key="MDPME0068E" value="メールアドレスの形式が正しくありません。入力内容を確認してください。" />
  <add key="MDPME0069E" value="メールアドレスは既に会員登録済みです。" />
  <add key="MDPME0070E" value="メールアドレス(再入力)が未入力です。入力してください。" />
  <add key="MDPME0071E" value="メールアドレス(再入力)は半角英数字記号256文字以内で入力してください。" />
  <add key="MDPME0072E" value="メールアドレス(再入力)の形式が正しくありません。入力内容を確認してください。" />
  <add key="MDPME0073E" value="メールアドレスが一致しません。入力内容を確認してください。" />
  <add key="MDPME0074E" value="会員登録には規約への同意が必要です。" />
  <add key="MDPME0075E" value="認証エラーが所定回数に達したため、アカウントをロックしました。｛0｝時間経過後に再度ログインを試みてください。" />
  <add key="MDPME0076E" value="画面操作が不正です。" />
  <add key="MDPME0077E" value="会員情報が変更されていません。変更内容をご確認ください。" />
  <add key="MDPME0078I" value="変更内容を登録します。よろしいですか？&lt;/br&gt;※変更をお知らせするメールが登録のメールアドレス宛てに送信されます。&lt;/br&gt;メールアドレスを変更・登録した場合は、お知らせメールの受信確認をお願いします。"/>
  <add key="MDPME0079E" value="ただいま会員情報変更はできません。" />
  <add key="MDPME0080I" value="メイン契約に設定します。よろしいですか。" />
  <add key="MDPME0081E" value="削除対象の契約はメイン契約です。メイン契約を変更後に削除してください。" />
  <add key="MDPME0082I" value="契約情報を削除します。よろしいですか。" />
  <add key="MDPME0083I" value="会員サービスのご利用ができなくなります。本当に退会してもよろしいですか。※保有ポイントは失効します。" />
  <add key="MDPME0084E" value="退会理由が未入力です。入力してください。" />
  <add key="MDPME0085E" value="パスワードが未入力です。入力してください。" />
  <add key="MDPME0086E" value="パスワードが違います。確認してください。" />
  <add key="MDPME0087E" value="認証エラーが所定回数に達したため、ログアウトしました。" />
  <add key="MDPME0088E" value="会員登録用のURLが無効です。もう一度、新規会員登録のお手続きを行ってください。" />
  <add key="MDPME0089E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPME0090E" value="希望するログインIDが未入力です。入力してください。" />
  <add key="MDPME0091E" value="希望するログインIDは半角英数字で入力してください。" />
  <add key="MDPME0092E" value="希望するログインIDは8文字以上32文字以内で入力してください。" />
  <add key="MDPME0093E" value="希望するログインIDは既に使用されています。" />
  <add key="MDPME0094E" value="希望するパスワードが未入力です。入力してください。" />
  <add key="MDPME0095E" value="希望するパスワードは、半角(英字、数字、記号)のうち、2種類以上の文字を組み合わせた内容で入力してください。" />
  <add key="MDPME0096E" value="希望するパスワードは半角英数字8文字以上16文字以内で入力してください。" />
  <add key="MDPME0097E" value="希望するパスワード確認用が未入力です。入力してください。" />
  <add key="MDPME0098E" value="希望するパスワード確認用は、半角(英字、数字、記号)のうち、2種類以上の文字を組み合わせた内容で入力してください。" />
  <add key="MDPME0099E" value="希望するパスワード確認用は8文字以上16文字以内で入力してください。" />
  <add key="MDPME0100E" value="性別が未選択です。選択してください。" />
  <add key="MDPME0101E" value="生年月日の一部が選択されていません。選択してください。" />
  <add key="MDPME0102E" value="電話番号が未入力です。入力してください。" />
  <add key="MDPME0103E" value="電話番号は半角数字10桁以上11桁以内で入力してください。" />
  <add key="MDPME0104E" value="入力されたパスワードが一致していません。確認してください。" />
  <add key="MDPME0105E" value="生年月日は正しい日付ではありません。正しい日付を入力してください。" />
  <add key="MDPME0106I" value="登録されている契約がありません。" />
  <add key="MDPME0107E" value="入力されたお客さま番号の登録は、【契約情報の確認】　のいづれかで登録してください。" />
  <add key="MDPME0108E" value="入力されたお客さま番号の登録は、「既に登録済みのご契約と請求をまとめている他の契約を追加する場合はこちらの登録ボタンへ」より登録してください。" />
  <add key="MDPME0109E" value="認証番号が未入力です。入力してください。" />
  <add key="MDPME0110E" value="認証番号は半角数字4文字で入力してください。" />
  <add key="MDPME0111E" value="お客さま番号・認証番号のどちらかが不正です。" />
  <add key="MDPME0112E" value="認証番号の有効期限が過ぎています。もう一度、認証番号を発行してください。" />
  <add key="MDPME0113E" value="ただいま退会処理の操作はできません。" />
  <add key="MDPME0114E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPME0115E" value="現在のパスワードが未入力です。入力してください。" />
  <add key="MDPME0116E" value="現在のパスワードが違います。確認してください。" />
  <add key="MDPME0117E" value="新しいパスワードが未入力です。入力してください。" />
  <add key="MDPME0118E" value="新しいパスワードは半角英数字記号8文字以上16文字以内で入力してください。" />
  <add key="MDPME0119E" value="新しいパスワードは半角(英字、数字、記号)のうち、2種類以上の文字を組み合わせた内容で入力してください。" />
  <add key="MDPME0120E" value="新しいパスワード（確認用）が未入力です。入力してください。" />
  <add key="MDPME0121E" value="新しいパスワード（確認用）は8文字以上16文字以内で入力してください。" />
  <add key="MDPME0122E" value="新しいパスワード（確認用）は半角(英字、数字、記号)のうち、2種類以上の文字を組み合わせた内容で入力してください。" />
  <add key="MDPME0123E" value="入力されたパスワードが一致していません。確認してください。" />
  <add key="MDPME0124E" value="新しいパスワードは現在のパスワード以外の内容で設定してください。" />
  <add key="MDPME0125E" value="認証エラーが所定回数に達したため、ログアウトしました。" />
  <add key="MDPME0126E" value="認証番号の発行が必要です。" />
  <add key="MDPME0127E" value="認証エラーが所定回数に達したため、ログアウトしました。" />
  <add key="MDPME0128E" value="ログインIDは半角英数字で入力してください。" />

  <!-- 問合せ -->
  <add key="MDPQA0001E" value="お名前(姓)が未入力です。入力してください。" />
  <add key="MDPQA0002E" value="お名前(姓)は全角で入力してください。" />
  <add key="MDPQA0003E" value="お名前(姓)は30文字以内で入力してください。" />
  <add key="MDPQA0004E" value="お名前(名)は全角で入力してください。" />
  <add key="MDPQA0005E" value="お名前(名)は30文字以内で入力してください。" />
  <add key="MDPQA0006E" value="お名前(姓(カナ))が未入力です。入力してください。" />
  <add key="MDPQA0007E" value="お名前(姓(カナ))は全角カナで入力してください。" />
  <add key="MDPQA0008E" value="お名前(姓(カナ))は40文字以内で入力してください。" />
  <add key="MDPQA0009E" value="お名前(名(カナ))は全角カナで入力してください。" />
  <add key="MDPQA0010E" value="お名前(名(カナ))は40文字以内で入力してください。" />
  <add key="MDPQA0011E" value="メールアドレスが未入力です。入力してください。" />
  <add key="MDPQA0012E" value="メールアドレスは半角英数字記号で入力してください。" />
  <add key="MDPQA0013E" value="メールアドレスは256文字以内で入力してください。" />
  <add key="MDPQA0014E" value="メールアドレスの形式が正しくありません。入力内容を確認してください。" />
  <add key="MDPQA0015E" value="メールアドレス(確認)が未入力です。入力してください。" />
  <add key="MDPQA0016E" value="メールアドレス(確認)は半角英数字記号で入力してください。" />
  <add key="MDPQA0017E" value="メールアドレス(確認)は256文字以内で入力してください。" />
  <add key="MDPQA0018E" value="メールアドレス(確認)の形式が正しくありません。入力内容を確認してください。" />
  <add key="MDPQA0019E" value="メールアドレスが一致しません。入力内容を確認してください。" />
  <add key="MDPQA0020E" value="電話番号は半角数字で入力してください。" />
  <add key="MDPQA0021E" value="電話番号は半角数字10桁以上11桁以内で入力してください。" />
  <add key="MDPQA0022E" value="郵便番号は半角数字で入力してください。" />
  <add key="MDPQA0023E" value="郵便番号は半角数字7桁で入力してください。" />
  <add key="MDPQA0024E" value="都道府県が未選択です。他の住所項目を入力した時は選択してください。" />
  <add key="MDPQA0025E" value="市区町村が未入力です。他の住所項目を入力した時は入力してください。" />
  <add key="MDPQA0026E" value="市区町村は全角で入力してください。" />
  <add key="MDPQA0027E" value="市区町村は120文字以内で入力してください。" />
  <add key="MDPQA0028E" value="町域名等・番地が未入力です。他の住所項目を入力した時は入力してください。" />
  <add key="MDPQA0029E" value="町域名等・番地は全角で入力してください。" />
  <add key="MDPQA0030E" value="町域名等・番地は120文字以内で入力してください。" />
  <add key="MDPQA0031E" value="建物名・部屋番号は全角で入力してください。" />
  <add key="MDPQA0032E" value="建物名・部屋番号は30文字以内で入力してください。" />
  <add key="MDPQA0033E" value="お問い合わせ種別を選択してください。" />
  <add key="MDPQA0034E" value="お問い合わせ内容を入力してください。" />
  <add key="MDPQA0035E" value="お問い合わせ内容は全角1000文字以内で入力してください。" />
  <add key="MDPQA0036E" value="郵便番号が未入力です。入力してください。" />
  <add key="MDPQA0037E" value="郵便番号は半角数字で入力してください。" />
  <add key="MDPQA0038E" value="郵便番号は半角数字7桁で入力してください。" />
  <add key="MDPQA0039E" value="郵便番号に対する住所が見つかりません。入力内容を確認してください。" />
  <add key="MDPQA0040E" value="郵便番号が未入力です。入力してください。" />
  <add key="MDPQA0041E" value="入力項目にエラーがあります。" />

  <!-- コンテンツ管理 -->
  <add key="MDPCM0001I" value="※ポイントサービスはご利用いただけません。" />
  <add key="MDPCM0002I" value="ご回答ありがとうございました。" />
  <add key="MDPCM0003E" value="ただいまポイント取得の操作はできません。" />
  <add key="MDPCM0004I" value="回答内容を登録します。よろしいですか？" />
  <add key="MDPCM0005I" value="申し訳ございません。&lt;/br&gt;ただいま閲覧可能なコンテンツはありません。" />
  <add key="MDPCM0006I" value="ご回答ありがとうございました。※ポイント取得済" />

  <!-- メルマガ -->

  <!-- アンケート -->

  <!-- 使用量・料金 -->

  <!-- ポイント管理 -->
  <add key="MDPPT0001I" value="ただいまポイント照会、交換などの操作はできません。" />
  <add key="MDPPT0002E" value="ポイント残高が不足しています。" />
  <add key="MDPPT0003E" value="注文数は半角数字3桁以内で入力してください。" />
  <add key="MDPPT0004E" value="消費ポイントが上限を超えました。注文数を減らして下さい。" />
  <add key="MDPPT0005E" value="注文数が未入力です。入力してください。" />
  <add key="MDPPT0006E" value="郵便番号が未入力です。入力してください。" />
  <add key="MDPPT0007E" value="郵便番号は半角数字7桁で入力してください。" />
  <add key="MDPPT0008E" value="郵便番号に対する住所が見つかりません。入力内容を確認してください。" />
  <add key="MDPPT0009E" value="入力項目にエラーがあります。確認してください。" />
  <add key="MDPPT0010E" value="お名前(姓)が未入力です。入力してください。" />
  <add key="MDPPT0011E" value="お名前(姓)は全角30文字以内で入力してください。" />
  <add key="MDPPT0012E" value="お名前(名)は全角30文字以内で入力してください。" />
  <add key="MDPPT0013E" value="お名前(姓(カナ))が未入力です。入力してください。" />
  <add key="MDPPT0014E" value="お名前(姓(カナ))は全角カナ40文字以内で入力してください。" />
  <add key="MDPPT0015E" value="お名前(名(カナ))は全角カナ40文字以内で入力してください。" />
  <add key="MDPPT0016E" value="電話番号が未入力です。入力してください。" />
  <add key="MDPPT0017E" value="電話番号は半角数字10桁以上11桁以内で入力してください。" />
  <add key="MDPPT0018E" value="住所(都道府県)が未選択です。選択してください。" />
  <add key="MDPPT0019E" value="住所(市区町村)が未入力です。入力してください。" />
  <add key="MDPPT0020E" value="住所(市区町村)は全角120文字以内で入力してください。" />
  <add key="MDPPT0021E" value="住所(町域名等・番地)が未入力です。入力してください。" />
  <add key="MDPPT0022E" value="住所(町域名等・番地)は全角120文字以内で入力してください。" />
  <add key="MDPPT0023E" value="住所(建物名・部屋番号)は全角30文字以内で入力してください。" />
  <add key="MDPPT0024E" value="ただいまポイント照会、交換などの操作はできません。" />
  <add key="MDPPT0025I" value="申し訳ございません。ポイントの取得はできません。" />
  <add key="MDPPT0026E" value="ポイント取得可能なコンテンツはありません。" />
  <add key="MDPPT0027E" value="閲覧可能なコンテンツはありません。" />
  <add key="MDPPT0028I" value="ただいまポイント照会、交換などの操作はできません。" />
  <add key="MDPPT0029I" value="ポイント取得および、ご利用の履歴はありません。" />
  <add key="MDPPT0030I" value="交換可能な商品はありません。" />

  <!-- データ分析 -->

  <!-- 他システム連携 -->

  <!-- 共通 -->
  <add key="MDPCO0001I" value="現在お知らせはありません。" />
  <add key="MDPCO0002E" value="ただいまポイント照会、交換などの操作はできません。" />
  
  <add key="MDPCO0003E" value="ご迷惑をおかけしております。" />
  <add key="MDPCO0004E" value="お探しのページは現在サーバーのメンテナンス中により、ご利用いただけません。&lt;/br&gt;しばらくお待ちいただいてから、ご利用ください。" />
  <add key="MDPCO0005E" value="お探しのページは現在サーバーのメンテナンス中により、ご利用いただけません。しばらくお待ちいただいてから、ご利用ください。" />
  <add key="MDPCO0006E" value="システムエラーが発生しました。" />
  <add key="MDPCO0007E" value="システムが続行できないエラーが発生いたしました。&lt;/br&gt;時間をおいて再度アクセスしてください。" />
  <add key="MDPCO0008E" value="システムが続行できないエラーが発生いたしました。時間をおいて再度アクセスしてください。" />

  <!-- 共通関数 -->

</appMessages>
